# -------------------------------
# Deployment
# -------------------------------
apiVersion: apps/v1
kind: Deployment
metadata:
  name: techfixer-deployment
  namespace: "2401029"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: techfixer
  template:
    metadata:
      labels:
        app: techfixer
    spec:
      imagePullSecrets:
        - name: nexus-secret

      containers:
        - name: techfixer
          image: 127.0.0.1:30085/2401029/techfixer-app:latest

          ports:
            - containerPort: 5000

          env:
            - name: PORT
              value: "5000"

            - name: MONGO_URL
              valueFrom:
                secretKeyRef:
                  name: app-secret
                  key: MONGO_URL

            - name: SESSION_SECRET
              valueFrom:
                secretKeyRef:
                  name: app-secret
                  key: SESSION_SECRET

            - name: CLOUDINARY_CLOUD_NAME
              valueFrom:
                secretKeyRef:
                  name: app-secret
                  key: CLOUDINARY_CLOUD_NAME

            - name: CLOUDINARY_API_KEY
              valueFrom:
                secretKeyRef:
                  name: app-secret
                  key: CLOUDINARY_API_KEY

            - name: CLOUDINARY_API_SECRET
              valueFrom:
                secretKeyRef:
                  name: app-secret
                  key: CLOUDINARY_API_SECRET

            - name: STRIPE_SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: app-secret
                  key: STRIPE_SECRET_KEY

            - name: STRIPE_PUBLISHABLE_KEY
              valueFrom:
                secretKeyRef:
                  name: app-secret
                  key: STRIPE_PUBLISHABLE_KEY

            - name: NODE_ENV
              value: "production"

          readinessProbe:
            httpGet:
              path: /health
              port: 5000
            initialDelaySeconds: 10
            periodSeconds: 10

          livenessProbe:
            httpGet:
              path: /health
              port: 5000
            initialDelaySeconds: 30
            periodSeconds: 30

          volumeMounts:
            - name: app-storage
              mountPath: /app/data

          resources:
            requests:
              cpu: "500m"
              memory: "512Mi"
            limits:
              cpu: "1"
              memory: "1Gi"

      volumes:
        - name: app-storage
          persistentVolumeClaim:
            claimName: techfixer-pvc
