apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: techfixer-pvc
  namespace: "2401029"
spec:
  storageClassName: local-path
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
